{% extends 'layout.html' %}
{% load static %}
{% block body %}
    <div class="top container-fluid">
        <div class="row">
            <div class="col-lg-12 fixed-top">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-row-reverse py-3">
                    <div class="navbar-brand">
                        {% if user.is_authenticated %}
                            <p class="navbar-brand font-weight-bold"> کاربر {{ user.username }}</p>
                            <a class="navbar-brand font-weight-bold" href="/accounts/logout">خروج</a>
                        {% else %}
                            <a class="navbar-brand font-weight-bold" href="/accounts/login">ورود/ثبت نام</a>
                        {% endif %}
                        <img src="{% static 'img/wolf-transparent-alpha-1.png' %}">
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active px-3">
                                <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active px-3">
                                <a class="nav-link" href="#">دانلود اپلیکشن<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active px-3">
                                <a class="nav-link" href="#">حامیان ما <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active px-3">
                                <a class="nav-link" href="#">درباره ما<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active px-3">
                                <a class="nav-link" href="#">تماس با ما<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="header-bg">
            <div class="container">
                <div class="row header-container" style="padding-top: 100px;">
                    <div class="header-img-container col-xl-4 col-lg-6">
                        <img src="{% static 'img/mockup%20(resized)/Untitled_iphonexspacegrey_portrait.png' %}"
                             class="img-fluid">

                    </div>

                    <div class="header-text-container col-xl-4 col-lg-5  mb-5 text-center px-4">
                        <p class="h-t-big mb-5 px-3 text-justify ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                            چاپ و با استفاده از طراحان
                            گرافیک
                            است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد
                            گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                            برای
                            طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>

                        <a href="#download" class="btn btn-outline-warning mt-3 font-weight-bold header-btn">همین حالا
                            شروع
                            کن!</a>
                    </div>
                    <div class="header-img-container col-xl-4 d-none d-xl-block  text-center">
                        <img src="{% static 'img/mockup%20(resized)/Untitled_nexus5x-portrait.png' %}"
                             class="img-fluid">
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}