{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <title>My Application</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bs4/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block styles %}

{% endblock %}
</head>
<body>
{% if form.errors or form.non_field_errors %}
    <div class="container rtl">
        <div class="card bg-danger text-white"
             style="text-align: center;font-size: 2em;margin-top: 20px">
            <ul style="list-style-type: none;">
                {% for error in form.non_field_errors %}
                    <li class="card-body">{{ error|escape }}</li>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }}{{ field.name }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% if messages %}
    <ul class="messages" style="list-style-type: none;direction: rtl">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="card bg-success text-white" style="text-align: center;font-size: 2em;margin-top: 20px">
                    <p class="card-body">{{ message }}</p>
                </div>
            {% elif message.tags == 'error' %}
                <div class="card bg-danger text-white" style="text-align: center;font-size: 2em;margin-top: 20px">
                    <p class="card-body">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% block body %}

{% endblock %}

<script src="{% static 'js/bs4/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/bs4/popper.min.js' %}"></script>
<script src="{% static 'js/bs4/bootstrap.min.js' %}"></script>
</body>
</html>
