@font-face {
    font-family: iranyekan;
    src: url(../font/IRANYekanRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg-pattern.png"), #7b4397;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
    font-family: iranyekan;
    direction: rtl !important;

}

a {
    outline: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

div ul li a:hover {
    color: #FF80AB !important;
}

.top div {
    padding: 0 0;
}

.header-bg {

    min-height: 100vh;
    min-width: 100vw;
    background: url("../img/bg-pattern.png"), #7b4397;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

.header-bg div {
    padding: 0 0;
}

.header-text-container {
    color: white;
    margin-top: 20px;
}

.header-text-container .h-t-big {
    font-size: 17px;
    line-height: 30px;

}

.header-btn {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
}

